@-moz-document domain("elastic.co") {
body {
    background-color: #111;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: #fff;
}
input,
textarea,
select,
p,
span {
    color: #c3c3c3;
}
a,
a:hover,
a:focus {
    color: #00dbff;
}
#guide .admon {
    background: #242424;
}
#guide .toc > li > span {
    background-color: #181818;
    border-top: 1px solid #383838;
    border-bottom: 1px solid #383838;
}
.collapsible {
    background-color: #181818;
}
#guide .toc .collapsible > span:hover {
    background-color: #353535;
    cursor: pointer;
}
#guide .toc > .show > span {
    background-color: #2a2a2a;
    border-bottom: 1px solid #323232;
}
#guide ul.toc {
    border: 1px solid #383838;
}
#rtpcontainer .mktg-promo {
    border: 1px solid #383838;
    border-radius: 5px;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #181818;
}
#book_title select {
    background-color: #303030;
    color: #00edff;
}
.tertiary-nav {
    background: #1b1b1b;
}
.breadcrum-wrapper * {
    color: #e1e1e1;
}
#guide code {
    background: #181818;
}
.literal {
    color: #dedede;
}
html,
body {
    color: #b7b7b7;
}
.header-wrapper {
    background-color: #181818;
    border-bottom: 1px solid #303030;
}
.navbar-nav > ul > li > a {
    color: #d8d8d8;
}
#guide .toc ul {
    margin: 0 0 0 0;
    padding: 0;
    border-color: #303030;
}
#guide .pre_wrapper {
    background-color: #262626;
}
#guide pre.prettyprint {
    background-color: #262626;
}
#guide div.console_widget,
#guide div.sense_widget,
#guide div.kibana_widget {
    background: linear-gradient(#262626, #1e1e1e);
}
.pln {
    color: #d2d2d2;
}
.bdr-btm-e0e0e0 {
    border-bottom: 1px solid #3B3B3B;
}
.footer-wrapper {
    background: #1b1b1b;
}
.footer-content h3 a {
    color: #e6e6e6;
}
.footer-content ul li a {
    color: #cbcbcb;
}
.social-icon div.social-label {
    color: #efefef;
}
table,
dl,
dt,
dd,
tbody,
tfoot,
thead,
tr,
th,
td {
    color: #9e9e9e;
}
#guide dt span {
    color: #cfcfcf;
}
.subscribe-wrapper {
    display: none;
}
#guide div.console_widget:hover,
#guide div.sense_widget:hover,
#guide div.kibana_widget:hover {
    background: linear-gradient(#262626, #1e1e1e);
}
#guide div.console_widget,
#guide div.sense_widget,
#guide div.kibana_widget {
    border-top: 0px;
}
}
