@-moz-document domain("jenkins.example.com/blue") {
/* Author: Robert Robinson (robr3rd) */
body {
	background-color: #111;
	color: #ddd;
}

.JTable-header {
	color: #aaa;
}

.JTable-row--rollOver:hover {
	background-color: #222;
}

.FullScreen-contents, .RunDetails-content {
	background-color: #1a1a20;
}

.log-header__section svg {
	fill: #bbb;
}

.log-header__section, .log-header__section, .log-header__section,
.result-item-label. .result-item-expando, .result-item-extra-body,
.result-status-glyph {
	color: white;
	fill: white;
}
.result-item-label {
	color: #000;
}
.result-item-label:hover {
	color: #000;
}
.logConsole .result-item-title .result-item-label .result-item-label-name {
	color: #444;
}

.result-item-head {
	background-color: #ccc;
}
}
