@-moz-document url-prefix("https://kibana."), url-prefix("http://organcprdlog01.int.pepperjam.com/app/kibana") {
:root {
    --hue-rotation: 180deg; /* Set to whatever looks best to you (default: 180deg) */
    --sidebar-hue-rotation: 0deg;
    --softer-white: #f7f8f9;
}

/* Invert entire page to start */
.application:not(.theme-dark) {
    background-color: var(--softer-white);
    filter: invert() hue-rotate(var(--hue-rotation)) brightness(110%) saturate(0.9);
}

/* Soften the main app background for a little less contrast with text */
discover-app {
    background-color: var(--softer-white);
}

/* Restore original colors of Index Pattern color rules */
.application:not(.theme-dark) .kbn-table td span[style],
.application:not(.theme-dark) .filter-bar .filter,
.application:not(.theme-dark) #reactFieldEditor .euiTableCellContent div[style] {
    filter:  invert() hue-rotate(calc(var(--hue-rotation) * -1));
}

/* Create a darker scrollbar for dark-theme Dashboards */
.theme-dark ::-webkit-scrollbar {
    width: 14px;
}

/* Track */
.theme-dark ::-webkit-scrollbar-track {
    background: #252628; 
}

/* Handle */
.theme-dark ::-webkit-scrollbar-thumb {
    background: #50758b; 
}

/* Handle on hover */
.theme-dark ::-webkit-scrollbar-thumb:hover{
    background: #567f99; 
}
}
