@-moz-document regexp(".*nagios.*") {
/* Author: Robert Robinson (robr3rd) */

/* Colors */
/*
- Page - fg=#eee; bg=black
- Section - bg=#191919 ('charcoal'); bg_alt=#2b2b2b ('char')
- Table - fg=#ddd; bg_row_odd='charcoal'; bg_row_even='char'
- Links - general=turquoise; status_box=steelblue+bold (for contrast)
- Notes - #ee8 ('pastel yellow')
- Service Statuses - fg_text=black
	- OK - bg=lightgreen
	- WARNING - bg=#ff6 ('yellow'); bg_alt=gold
	- CRITICAL - bg=lightcoral; bg_alt=darkred
	- PROBLEMS - bg=skyblue; bg_alt=deepskyblue
- Host Statuses (bg=transparent):
	- HostOK - fg=springgreen
*/



/* General */
body,
body.status,
.headertable,
.navsectiontitle {
    background-color: black !important;
	color: #eee !important;
}

body * {
    font-size: 0.75rem;
}

a, a:visited {
	color: turquoise;  /* same color as the OOTB "context-sensitive help" */
}
.infoMessage a {
	color: steelblue;
}



/* Header */
.hostTotals td,
.serviceTotals td {
	color: black;
}



/* Nav */
.navbarsearch {
	margin-top: 12px;
}
.navsectiontitle {
	border-color: #777 !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
}
div.navsectionlinks {
	margin-top: 0px;
	padding-top: 6px;
	padding-bottom: 6px;
}
ul.navsectionlinks > li > a {
	padding-left: 8px !important;
}
ul.navsectionlinks ul {  /* child lists */
	padding-left: 20px !important;
}



/* Regions */

/* Headers */
th,
/* System::Performance Info */
.extinfo th,
/* Tactical Overview */
.outageTitle, .hostTitle, .serviceTitle, .featureTitle, .healthTitle, td.perfTitle
{
    color: #fff !important;
}

/* Content regions */
.commandPanel table, .command,
table.comment, div.comment,
table.downtime,
/* System::Performance Info */
.stateInfoTable1,
.stateInfoTable2,
/* Tables */
table.comment td.commentOdd,
tr.commentOdd td,
table.downtime td.downtimeOdd,
tr.downtimeOdd td,
table.notifications td.notificationsOdd,
tr.notificationsOdd td,
table.status td.statusOdd,
tr.statusOdd td, td.statusOdd,
tr.queueOdd td,
.navsectionlinks,
.optBox, .commandDescription,
/* Tactical Overview */
.perfBox,
.outageTitle, .hostTitle, .serviceTitle, .featureTitle, .healthTitle, td.perfTitle
{
	background-color: #191919;
	color: #ddd;
}
table.comment td.commentEven,
tr.commentEven td,
table.downtime td.downtimeEven,
tr.downtimeEven td,
table.notifications td.notificationsEven,
tr.notificationsEven td,
table.status td.statusEven,
tr.statusEven td,
tr.queueEven td
{
	background-color: #2b2b2b;
	color: #ddd;
}



/* Details page */
a.comment {
    background-color: transparent;
}

img[src="/nagios3/images/ack.gif"],
img[src="/nagios3/images/passiveonly.git"]
{
	background-color: #bbb;
}



/* Commands page (example: scheduling downtime) */
.optBoxTitle, .descriptionTitle {
	padding-bottom: 5px;
	padding-top: 5px;
}
.optBoxTitle {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.commandDescription {
	border: none;
	margin-top: 0px;
}
table.commandDescription,
.optBoxTitle + table.optBox {
	border: 1px solid #aaa;
}
.infoMessage {
	background-color: #ee8;
	color: black;
}



/* Tactical Overview page */
.featureEnabledFlapDetection td,
.featureEnabledNotifications td,
.featureEnabledHandlers td,
.featureEnabledActiveChecks td,
.featureEnabledPassiveChecks td
{
	color: black;
}
.featureEnabledFlapDetection a,
.featureEnabledNotifications a,
.featureEnabledHandlers a,
.featureEnabledActiveChecks a,
.featureEnabledPassiveChecks a,
table.tac td.serviceImportantProblem a, table.tac td.serviceUnimportantProblem a
{
	color: steelblue;
	font-weight: bold;
}



/* Statuses */
/* Statuses - Text */
.statusOK, .statusOK a,
.ministatusOK, .ministatusOK a,
.statusWARNING, .statusWARNING a,
.miniStatusWARNING, .miniStatusWARNING a,
.statusCRITICAL, .statusCRITICAL a,
.miniStatusCRITICAL, .miniStatusCRITICAL a,
.serviceWARNING,
.notificationsOK, .notificationsWARNING, .notificationsCRITICAL,
.queueENABLED, .queueWARNING, .queueCRITICAL
{
	color: black !important;
}
table.status .statusHOSTUP {
	color: springgreen;
}


/* Statuses - backgrounds */
.serviceTotalsPROBLEMS,
.serviceUnimportantProblem,
.status td.serviceUnimportantProblem
{
	background-color: skyblue;
}
.serviceImportantProblem,
.status td.serviceImportantProblem
{
	background-color: deepskyblue;
}
.serviceTotalsOK,
td.miniStatusUP,
table.status > tbody td.statusOK,
table.status > tbody td a.statusOK,
table.status > tbody td.miniStatusOK,
table.notifications td.notificationsOK,
table.queue .queueENABLED
{
	background-color: lightgreen;
}
.serviceTotalsWARNING,
td.miniStatusWARNING,
table.status > tbody td.statusWARNING,
table.status > tbody td a.statusWARNING,
table.status > tbody td.miniStatusWARNING,
table.notifications td.notificationsWARNING,
table.queue .queueWARNING
{
	background-color: #ff6;
}
.serviceTotalsCRITICAL,
td.miniStatusCRITICAL,
table.status > tbody td.statusCRITICAL,
table.status > tbody td a.statusCRITICAL,
table.status > tbody td.miniStatusCRITICAL,
table.notifications td.notificationsCRITICAL,
table.queue .queueCRITICAL
{
	background-color: lightcoral;
}
.statusBgCritical, .statusBgCriticalAck {
	background-color: darkred;
}
.statusBgWarning, .statusBgWarningAck {
	background-color: gold;
	color: #000;
}
.statusBgWarning a, .statusBgWarningAck a {
	color: steelblue;
}
}
