@-moz-document domain("app.snyk.io") {
.scoped {
	background-color: #222;
}

.nav-secondary {
	background-color: #ddd;
}

.vue--block-expandable__container div {
	background-color: #aaa;
}


/* left nav */
.vue--expand > div {
	background-color: #ccc;
}
.vue--block-expandable__content {
	padding-left: 10px !important;
}
}
