@-moz-document domain("workflowy.com") {
/* v--- Robr3rd custom ---v */
._b._c._d._e._f._g._h._i._j._k._l._m._n._o._p._q._r._s._t {
    background-color: #2a2a2a !important;
}

._b._c._d._e._f._g._h._i._j._k._l._m._n._o._p._q._r._s._t div:hover {
    background-color: #1a1a1a !important;
}
/* ^--- Robr3rd custom ---^ */

/* v--- Original ---v */

/*Default*/
/* ========== DESIGN ELEMENTS ========== */

 /* DESIGN - BACKGROUND */
 #documentView {
     background: #222;
     color: #fff;
 }
 .page {
     background: #222;
     max-width: 100% !important;
     border: none !important;
     margin-bottom: 0 !important;
     /* fix for dynamic positioning of the .page div */
     transform: none !important;
     width: auto !important;
 }

 /* DESIGN - FONT */
 .content {
     color: #e0e0e0 !important;
 }

 /* DESIGN - BORDER */
 .edge,
 .corner {
     display: none;
 }

 /* DESIGN - BULLET BACKGROUND COLOR */
 .bullet {
     background-color: #484848
 }

 /* DESIGN - LINE LEFT SIDE */
 .children {
     border-left: .5px dashed #666;
 }

 /* DESIGN - MENU */
 #controlsLeft,
 #itemSelectionControls {
     background: #333 !important;
 }
 #controlsLeft a,
 #itemSelectionControls a {
     color: #fff !important;
 }

/* DESIGN - OTHER */
 #bottomLinks,
 .footer,
 .proPitch,
 .getMoreSpaceButton {
     display: none;
 } 

/* ========== TAGS ========== */

 /* TAG - COLOR */
 .content .contentTag,
 .nameAnimated .contentTag {
     color: #598c47;
     background: #2d2d2d !important;
 }

 /* TAG - HOVER COLOR */
 .content .contentTag:hover {
     background: #233d1a !important;
 }

 /* TAG - UNDERLINE */
 .content .contentTagText {
     text-decoration: none !important;
 }

 /* ========== HIGHLIGHT ========== */

 /* HIGHLIGHT - HOVER */
 .highlighted,
 .highlight {
     background: #afafaf !important;
 }
 .project.highlighted::before,
 .project.moving::before,
 .project.tapped::before,
 .draggableNameClone::before {
     background: #000 !important;
 }

 /* HIGHLIGHT - COLOR */
 ::selection {
     background: #afafaf !important;
     color: #f7ff75;
 }

 /* ========== NOTES ========== */

 /* NOTES - COLOR */
 .notes > .content {
     color: #A6E22E !important;
 }
 .notes > .content > .contentLink {
     color: #b26b84 !important;
 }

 /* ========== LINKS ========== */

 /* LINKS - COLOR */
 .name > .content > .contentLink {
     color: #66D9EF !important;
 }

 /* LINKS - REMOVE UNDERLINE */
 .content .contentLink {
     text-decoration: none !important;
 }

/* ========== HEADER ========== */

/* HEADER - BACKGROUND */
 #header {
     background: none;
     border: none;
 }

 /* HEADER - LOGO POSITION */
 #logo {
     margin-top: 12px;
 }

 /* HEADER - SEARCH BOX */
 #searchBox {
     color: #888;
     background-color: #333;
     font-size: 10pt;
     padding: 2px 10px;
     height: 25px;
     border-radius: 5px;
     margin: 7px 4px;
     opacity: 1;
     border: none;
 }

 /* HEADER - SEARCH BOX PLACEHOLDER */
 ::-webkit-input-placeholder {
     color: #888;
 }

 /* HEADER - SEARCH BOX X */
 #searchCancel {
     margin-top: 3px;
     margin-right: 0px;
 }

 /* HEADER - STAR PAGES */
 #savedViewHUDButton {
     margin-top: 8px;
 }

 /* HEADER - UNDO & REDO */
 .redo-button,
 .undo-button {
     margin-top: 8px;
 }

 /* HEADER - BUTTON STYLE TOP RIGHT */
 .saveButton,
 #helpButton,
 .showCompletedButton {
     border-radius: 5px !important;
     margin: 8px 4px;
     background: #333;
     color: #888;
 }

 /* HEADER - MENU BUTTON TOP RIGHT */
 #buttonBar {
     height: 29px;
     margin: 8px 8px 8px 4px;
     border-radius: 5px !important;
     background: #333;
 }

/* HEADER - DONE */
 .project.done > .name {
     color: #ffe792 !important;
 }
}
