@-moz-document domain("teams.microsoft.com") {
/* Author: Robert Robinson (robr3rd) */

/* Make chat region full-width */
.ts-message-list-container,
item-wrap ts-message-list-item,
.message-list-common:not(.chat-style),
virtual-repeat>.list-wrap>.item-wrap {
	max-width: 100% !important;
}

.message-list-common:not(.chat-style) thread .ts-message {
	padding: 0 !important;
}
}
