@-moz-document domain("teams.microsoft.com") {
/* Author: Robert Robinson (robr3rd) */

/* Remove header */
.app-header-bar,
.ts-messages-header {
	display: none !important;
}

/* Remove sidebar (context switch nav) */
div.app-left-wrapper {
	display: none !important;
}
}
