@-moz-document domain("teams.microsoft.com") {
/* Author: Robert Robinson (robr3rd) */

/* Remove conversation lists (use command bar to switch) */
div.ts-add-message,
div.ts-left-rail-wrapper {
	display: none !important;
}
}
